.category-preview {
    text-align: center;
    padding: 0 20px;

    &__img {
        padding: 5px 0 20px 0;

        img {
            max-width: 50%;
        }
    }

    &__title {
        font-family: "ProximaNovaBold";
        text-transform: uppercase;
        margin: 10px 0 20px 0;
        color: $blue;
        text-decoration: none;
        display: inline-block;
        transition: 0.3s;
        font-size: 18px;

        &:hover {
            color: $green;
            text-decoration: none;
        }
    }

    &__description {
        font-size: 14px;
        padding-bottom: 20px;
        line-height: 1.3;
    }
}
