$mobile-point: 767px;
$tablet-point: 991px;
$small-device-point: 1199px;
$device-point: 1560px;

$container-big: 1530px;
$container: 1140px;
$container-small: 970px;
$container-table: 740px;



$white: #ffffff;
$white-dark: #ececec;
$black: #333333;
$black-cold: #07194b;
$blue: #204d6d;
$blue-light: #035c9e;
$blue-light-extra: #eaeff3;
$green: #8ecb1e;
$green-dark: #436505;
$gray: #cccccc;
$red: #dc1114;


$facebook: #3b5998;
$vk: #45668e;
$instagram: #e1306c;
$youtube: #cd201f;
