 .page-inner {
     background-color: $blue-light-extra;
     background-image: url('./../images/back-bottom.png');
     background-repeat: no-repeat;
     background-position: bottom left;

     &__breadcrumbs {
         border-bottom: 1px solid $gray;
         background-color: $white;
     }

     &__container {
         background-image: url('./../images/back-top.png');
         background-repeat: no-repeat;
         background-position: top right;
     }

     &__title {
         font-size: 30px;
         font-family: "ProximaNovaBold";
         text-transform: uppercase;
         padding: 30px 0 50px 0;
     }

     &__content {
         background-color: $white;
         padding: 20px;
         box-shadow: 0 0 10px rgba($black, 0.2);
     }
 }
